ELIT21_CONFIG=config/app.json
SHOPIFY_SHOP=your-shop
SHOPIFY_ACCESS_TOKEN=shpat_xxx
SHOPIFY_API_VERSION=2026-07
SHOPIFY_WEBHOOK_SECRET=xxx
ALIEXPRESS_APP_KEY=xxx
ALIEXPRESS_APP_SECRET=xxx
ALIEXPRESS_ACCESS_TOKEN=xxx
ELIT21_LIVE_ORDERS=false
